.beach {
  height: 550px;
  width: 120%;
  display: block;
  margin-left: auto;
  nav-right: auto;
}

.about {
  text-align: center;
  padding-bottom: 100px;
}
.navbar a:hover {
  background-color: black;
  cursor: pointer;
  box-sizing: inherit;
}

.MobileNav_MoNavContainer__1ilEr {
  margin-top: -900px;
  margin-right: 2000px;
  display: none;
}

.MobileNav_MoNavLogo__C8_0h {
  float: left;
  padding-right: 100px;
}
.text-0-2-1.text-d0-0-2-6 {
  text-align: center;
  padding-bottom: 20px;
}

.text-d0-0-2-6::after {
  color: rgb(164 177 170);
}
.text-d0-0-2-6::before {
  color: rgb(15 16 16);
}
.pname {
  display: "line-block";
  height: "150px";
  width: "250px";
}
.pl {
  text-align: center;
}
.pl1 {
  display: inline-block;
  list-style: none;
  height: "250px";
  width: "250px";
  padding-bottom: 85%;
  padding-left: 55%;
  margin-top: -40%;
}

@media (max-width: 600px) {
  .pl2 {
    margin-top: -34%;
  }
}
